<nav class="">
  <% if current_user %>
  <%= "Signed in as #{current_user.email}" %>
  <% end %>
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(current_user) %></li>
          <% else %>
          <p><%= link_to "Sign up", new_user_registration_path %></p>
          <p><%= link_to "sign in", store_path %></p>
          <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
        <% end %>
    </ul>
</nav>
